@model WebApp5EMVC.Models.View.DetailViewModel
@{
    Layout = "~/Views/Shared/_LayoutBasePage.cshtml";
}

@if (Model.Prodotto != null)
{
    <h2>@Model.Prodotto.Nome</h2>
    <img src="@WebApp5EMVC.Helpers.PathHelper.GetProdottoImagePath(Model.Prodotto)" style=" height:150px; width:150px"/>
    <p>@Model.Prodotto.Descrizione</p>
    <p>@Model.Prodotto.Prezzo</p>
    <p>@Model.Prodotto.Quantita</p>
    <p>@Model.Prodotto.Creazione</p>
    <p>@Model.Prodotto.Modifica</p>
}
else
{
    <h2>@ViewBag.Title</h2>
    <p>@Model.MessaggioErrore</p>
}

