@model WebApp5EMVC.Models.View.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasePage.cshtml";
}

<h2>Index</h2>
<table>
    @foreach (var p in Model.Prodotti)
    {
    <tr>
        <td><a href="@WebApp5EMVC.Helpers.PathHelper.GetProdottoUrl(p.Id)">Dettagli</a></td>
        <td>@p.Nome</td>
        <td>@p.Descrizione</td>
        <td><img src="@WebApp5EMVC.Helpers.PathHelper.GetProdottoImagePath(p)" style=" height:50px; width:50px"></td>
        <td>@p.Prezzo</td>
        <td>@p.Quantita</td>
        <td>@p.Creazione</td>
        <td>@p.Modifica</td>
    </tr>    
    }
</table>

