@model WebApp5EMVC.Models.View.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasePage.cshtml";
}

<h2>Home</h2>
<table>
    @foreach (var p in Model.Prodotti)
    {
        @if (Model.Prodotti.IndexOf(p) % 3 == 0)
        {
            @:<div class="card-deck m3">
        }

        <div class="card" style="width: 18rem;">
            <img src="@WebApp5EMVC.Helpers.PathHelper.GetProdottoImagePath(p)" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@p.Nome</h5>
                <p class="card-text">@p.Descrizione</p>
                <h6 class="mb-3">
                    <span class="mr-1">@p.Prezzo €</span>
                </h6>
                <a href="@WebApp5EMVC.Helpers.PathHelper.GetProdottoUrl(p.Id)" class="btn btn-primary">Dettagli</a>
            </div>
        </div>

        @if (Model.Prodotti.IndexOf(p) % 3 == 2)
        {
            @:</div>
        }
    }
</table>

